.AddTaskPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(60, 60, 60, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
#add-task-h1{
    margin-top: 0;
}
.AddTaskPopupInner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}
.AddTaskPopupInner .Confirm-btn{
    top: 16%;
    right: 16px;
    border-radius: 7px;
    width: 80px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.AddTaskPopupInner .Cancel-btn{
    top: 30%;
    right: 16px;
    border-radius: 7px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.AddTaskPopupInner .Cancel-btn:hover {
    background-color: rgba(164, 161, 161, 0.55);
}
.AddTaskPopupInner .Confirm-btn:hover {
    background-color: rgba(164, 161, 161, 0.55);
}
.input-container-add-tasks{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.add-task-input{
    width: 300px;
    height: 30px;
    border-radius: 7px;
}
.dropdown-btn{
    width: 80px;
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
}
.add-task-input-date{
    width: 300px;
    height: 30px;
    border-radius: 7px;
    text-align: center;
}