.circular-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.circular-svg {
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);
}
  
.circular-path {
    stroke: #008aff;
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: circular-progress 1.5s linear infinite;
}
  
@keyframes circular-progress {
    from {
      stroke-dashoffset: 80;
    }
    to {
      stroke-dashoffset: 0;
    }
}
  