#title1{
    margin: 75px 42%;
    font-size: 30px;
    margin-bottom: 0;
}
#title2{
    margin: 20px 42%;
    font-size: 30px;
}
#Caloriestxt{
    font-size: 17px;
    margin: 15px 33%;
}
#Taskstxt{
    font-size: 17px;
    margin: 15px 36.5%;
}
#addTask{
    background-color: cadetblue;
    height: 20px;
    width: 20px;
    padding: 0 ;
    padding-left: 0;
}

.TasksDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    border-left: 2px solid  #f8fbfc;
    padding-left: 10px;
    justify-content: space-around;
}
  
.TaskWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 450px;
}
  
.TaskDiv {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color:  #f8fbfc;
    border-radius: 4px;
}
  
.date-selection{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color:  #f8fbfc;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.TaskText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:  #f8fbfc;
    border-radius: 5px;
    padding-left: 10px;    
    padding: 4px;
    cursor: pointer;
}
.TaskText:hover{
    border: 1px solid black;
}
  /* align taskdivs on top */
.TaskWrapper > *:first-child {
    align-self: flex-start;
}
.AddTaskPerformer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #f8fbfc;
    border: 1px solid black;
    width: auto;
    padding: 3px 3px;
    border-radius: 4px;
    margin: 10px 45%;
    cursor: pointer;
    text-align: center;
}
.AddTaskPerformer:hover{
    background-color:  #f1f1f1;
}
.IconsWrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
    margin-left: 85%;
}
.IconsWrapper #TaskIcon:hover{
    color:#74575796;
}
