*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-size: contain;
}
nav{
    background-color: rgba(95, 95, 163, 0.67);
    padding: 15px;
    position: absolute;
    background-size: contain;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 99;
}
li{
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Title{
    color: rgb(48, 35, 104);
    margin-bottom: 7px;
    font-size: 20px;
    margin-left: 20px;
}
li .Login{
    background-color: beige;
    border-radius: 3px;
    padding: 3px;
    margin-left : 230px;
    cursor: pointer;
}
ul{
    margin-left: 12%;
    margin-bottom: 7px;
}
li .Item{
    background-color: beige;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}
.Item:hover{
    background-color: rgba(191, 206, 129, 0.421);
}
li .Login:hover{
    background-color: rgba(191, 206, 129, 0.421);
}

@media only screen and (max-width: 1450px){
    ul{
        margin-left: 100px; 
    }
    li{
        margin-left: 10px;
    }
    li .login{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1400px){
    ul{
        margin-left: 100px; 
    }
    li{
        margin-left: 10px;
    }
    li .login{
        margin-left: 10px;
    }
}


@media only screen and (max-width: 1350px){
    ul{
        margin-left: 100px; 
    }
    li{
        margin-left: 10px;
    }
    li .login{
        margin-left: 10px;
    }
}


@media only screen and (max-width: 1320px){
    ul{
        margin-left: 100px; 
    }
    li{
        margin-left: 10px;
    }
    li .login{
        margin-left: 10px;
    }
}


@media only screen and (max-width: 1300px){
    ul{
        margin-left: 100px; 
    }
    li{
        margin-left: 10px;
    }
    li .login{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1250px){
    ul{
        margin-left :80px
    }
    li{
        margin-left: 10px;
    }
    li .Login{
        margin-left: 80px;
    }
}


@media only screen and (max-width: 1220px){
    ul{
        margin-left :80px
    }
    li{
        margin-left: 10px;
    }
    li .Login{
        margin-left: 80px;
    }
}



@media only screen and (max-width: 1200px){
    ul{
        margin-left :80px
    }
    li{
        margin-left: 10px;
    }
    li .Login{
        margin-left: 80px;
    }
}

@media only screen and (max-width:1150px){
    ul{
        margin-left: 40px;
    }
    li{
        margin-left: 10px;
    }
    li .Login{
        margin-left: 60px;
    }
}


@media only screen and (max-width: 1100px ){
    ul{
        margin-left: 40px;
    }
    li{
        margin-left: 10px;
    }
    li .Login{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1050px ){
    ul{
        margin-left: 40px;
    }
    li{
        margin-left: 10px;
    }
    li .Login{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1000px){
    ul{
        margin-left: 0px;
    }
    li{
        margin-left: 5px;
    }
    li .Login{
        margin-left: 5px;
    }
}
@media only screen and (max-width: 900px){
    .Lines{
        display: block;
        cursor: pointer;
        float: right;
        margin-left: 70%;
        margin-bottom: 15px;
        width: 20px;
        height: 20px;
    }
    .Lines .Line{
        width: 30px;
        height: 3.5px;
        background-color: aliceblue;
        margin: 6px 0;
    }
    ul,li,li .Login{
        display: none;
    }
}