.SignupContainer{
    align-items: center;
    display: block;
    margin: 50px 32%;
    background-color: #f8f9fb;
    width: fit-content;
    padding-left: 12vh;
    padding-right: 12vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 30px;
    margin-bottom: 12vh;
}
#SignupH1{
    padding: 5px;
}
#signuptxt{
    border-radius: 7px;
    height: 32px;
    width: 250px;
}
#signupbtn{
    border-radius: 7px;
    height: 32px;
    width: 100px;
    cursor: pointer;
}
#Signuptxt{
    margin-top: 7px;
    cursor: pointer;
    font-size: 17px;
    color: #001d3d;
}
#Signuptxt :hover{
    text-decoration: underline;
    color: #07294e;
}